@import "tailwindcss";
@import "aos/dist/aos.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter.ttf') format('truetype');
}
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-VariableFont_wght.ttf') format('truetype');
}


body {
  background: var(--background);
  color: white;
  font-family: 'Inter';
}
button{
  cursor: pointer;
}
.premadeBorder{
  border: 1px solid black;
}
@supports not (backdrop-filter: blur(10px)) {
  .backdrop-fallback {
    background: rgba(0, 0, 0, 0.6);
  }
}


/* @media screen and (max-width: 600px) {
  body * {
    display: none !important;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  body * {
    display: none !important;
  }
} */


.popup {
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
}

.popup:hover {
  transform: scale(1.01);
}

.inter {
  font-family: "Inter", sans-serif;
}


.inter_light {
  font-family: "Inter", sans-serif;
  font-weight: 100;
}

