@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-VariableFont_wght.ttf') format('truetype');
}


body {
  background: var(--background);
  color: white;
  font-family: 'Geist';
}
button{
  cursor: pointer;
}
.premadeBorder{
  border: 1px solid black;
}


/* @media screen and (max-width: 600px) {
  body * {
    display: none !important;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  body * {
    display: none !important;
  }
} */