@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-VariableFont_wght.ttf') format('truetype');
}


body {
  background: var(--background);
  color: white;
  font-family: 'Geist';
}
button{
  cursor: pointer;
}



